h2 {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}

.page-nav-container {
    display: flex;
    justify-content: center;
}

.page-nav-container a {
    margin: 1rem;
    color: #999;
}

.page-nav-container a:hover {
    color: black;
}

#current {
    color: black;
}

.page-nav-container .disabled:hover {
    color: #999;
    cursor: default;
}