/* Navigation */

.box-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;
    background: #333;
}

.nav-items a {
    color: #FFF;
    transition: all 200ms ease-in-out;
    
}

.nav-items a:hover {
    color: #999;
}

.box-navbar ul {
    display: flex;
    list-style: none;
}

.box-navbar a {
    padding: 0.5rem 3rem;
    font-size: 2rem;
}
