/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 200ms ease-in-out;
}

a:hover {
    color: #999;
}

h1 {
    text-align: center;
}



.box {
    display: flex;
}

/* Grid */

.main-container {
    display: grid;
    /* grid-template: repeat(6, 16rem) / repeat(3, 16rem); */
    grid-template: 
                [top-row-images] "a b c" 16rem
                [top-row-info] "d e f" 3rem
                [mid-row-images] "g h i" 16rem
                [mid-row-info]"j k l" 3rem
                [bot-row-images] "m n o" 16rem
                [bot-row-info] "p q r" 3rem / 16rem 16rem 16rem;
    width: 100%;
    padding: 3rem;
    gap: 2rem;
    justify-content: center;
}



/* Main Grid Items */

.main-grid-items-1 {
    background: url('https://stockx-360.imgix.net/Nike-Tom-Craft-NikeCraft-Mars-Yard-Shoe/Images/Nike-Tom-Craft-NikeCraft-Mars-Yard-Shoe/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1607046239&w=1000') no-repeat center center/cover;
    background-size: contain;
}

.main-grid-items-2 {
    background: url('https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-Dior/Images/Air-Jordan-1-Retro-High-Dior/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1607043976&w=1000') no-repeat center center/cover;
    background-size: contain;
}

.main-grid-items-3 {
    background: url('https://stockx-360.imgix.net/Nike-SB-Dunk-Low-Ben-Jerrys-Chunky-Dunky-FF-Packaging/Images/Nike-SB-Dunk-Low-Ben-Jerrys-Chunky-Dunky-FF-Packaging/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1607045724&w=1000') no-repeat center center/cover;
    background-size: contain;
}

.main-grid-items-4 {
    background: url('https://stockx-360.imgix.net/Balenciaga-Triple-S-Black-White-Red-2018-Reissue/Images/Balenciaga-Triple-S-Black-White-Red-2018-Reissue/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1607044743&w=1000') no-repeat center center/cover;
    background-size: contain;
}

.main-grid-items-5 {
    background: url('https://stockx-360.imgix.net/Balenciaga-Track-Orange-Blue/Images/Balenciaga-Track-Orange-Blue/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1607657251&w=1000') no-repeat center center/cover;
    background-size: contain;
}

.main-grid-items-6 {
    background: url('https://stockx-360.imgix.net/Balenciaga-Speed-Trainer-Black-White-2018/Images/Balenciaga-Speed-Trainer-Black-White-2018/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1603481985&w=1000') no-repeat center center/cover;
    background-size: contain;
    
}

.main-grid-items-7 {
    background: url('https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-Off-White-Chicago/Images/Air-Jordan-1-Retro-High-Off-White-Chicago/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1606322952&w=1000') no-repeat center center/cover;
    background-size: contain;
}

.main-grid-items-8 {
    background: url('https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-Off-White-University-Blue/Images/Air-Jordan-1-Retro-High-Off-White-University-Blue/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1606321054&w=1000') no-repeat center center/cover;
    background-size: contain;
}

.main-grid-items-9 {
    background: url('https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-Off-White-White/Images/Air-Jordan-1-Retro-High-Off-White-White/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1607656930&w=1000') no-repeat center center/cover;
    background-size: contain;
}

.product-image {
    transition: all 300ms ease-in-out;
}

.product-image:hover {
    transform: scale(0.9);
}

.product-info {
    text-align: center;
}

/* footer */

.footer-container {
    display: flex;
    height: 7rem;
    margin: 0 2rem;
    border-top:  1px solid #999;
    justify-content: center;
}

/* footer items */

.footer-items {
    display: flex;
    list-style: none;
    align-items: center;
}

.footer-items a {
  color: #000;
  padding: 0 1rem;
}

.footer-items a:hover {
    color: #999;
}